{% extends 'base_template.html' %}
{% load static %}
{% block content %}
  <main class="container mt-header">
    <article class="row">
      <div class="col-12 col-lg-6 mb-3 mb-lg-0">
        <h1 class="fw-bold SelfStorage_green mb-5">Доставка и бережное хранение ваших вещей</h1>
        <h4 class="fw-lighter SelfStorage_grey mb-5">Аренда бокса на любой срок Бесплатная доставка от вашего дома</h4>
        <form action="{% url 'calculate_cost' %}" method="post" class="">
          {% csrf_token %}
          <input type="text" required name="EMAIL1" class="form-control border-8 mb-4 py-3 px-5 border-0 fs_24 SelfStorage__bg_lightgrey" placeholder="Укажите ваш e-mail" />
          <button class="btn border-8 py-3 px-5 w-100 text-white fs_24 SelfStorage__bg_orange SelfStorage__btn2_orange">Свяжитесь со мной</button>
          <span class="text-center fw-light">Нажимая на кнопку, вы подтверждаете свое <a href="{% static 'politic_of_conf.pdf' %}" class="link-dark">согласие на обработку персональных данных</a></span>
        </form>
      </div>
      <div class="col-12 col-lg-6 SelfStorage__img" style="background-image: url('{% static 'img/image.png' %}');"></div>
    </article>
    <article class="mt-header">
      <h1 class="text-center fw-bold SelfStorage_green mb-5">Аренда боксов</h1>
      <h6 class="text-center SelfStorage_grey">Арендуйте склад индивидуального хранения по уникальной цене прямо сейчас</h6>
      <a href="#BOX" id="toBox" class="d-none"></a>
      <ul class="nav nav-pills mb-3 d-flex justify-content-between" id="boxes-links" role="tablist">
        {% for warehouse in warehouses %}
          <li class="nav-item flex-grow-1 mx-2" role="presentation">
            <a href="#BOX" class="row ajax_cells text-decoration-none py-3 px-4 mt-5 SelfStorage__boxlink" cell-id="{{ warehouse.id }}" id="pills-{{ warehouse.id }}-tab" data-bs-toggle="pill" data-bs-target="#pills-{{ warehouse.id }}" role="tab" aria-controls="pills-{{ Moscow }}" aria-selected="true">
              <div class="col-12 col-lg-3 d-flex justify-content-center">
                <img src="{{ warehouse.image.url }}" alt="" class="mb-3 mb-lg-0" style="max-width: 300px; max-height: 100px;" />
              </div>
              <div class="col-12 col-md-4 col-lg-3 d-flex flex-column justify-content-center">
                <h4 class="text-center">{{ warehouse.name }}</h4>
                <h6 class="text-center">{{ warehouse.address }}</h6>
              </div>
              <div class="col-12 col-md-4 col-lg-3 d-flex flex-column justify-content-center">
                <h4 class="text-center">{{ warehouse.empty_cells }} из {{ warehouse.total_cells }}</h4>
                <h6 class="text-center">Боксов свободно</h6>
              </div>
              <div class="col-12 col-md-4 col-lg-3 d-flex flex-column justify-content-center">
                <h4 class="text-center SelfStorage_green">от {{ warehouse.min_price }} ₽ за метр кв</h4>
                <h6 class="text-center">{{ warehouse.features }}</h6>
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
      <script>
        const elements = document.querySelectorAll('[id^="pills"]')
        
        elements.forEach((element) => {
          element.addEventListener('click', () => {
            document.getElementById('toBox').click()
          })
        })
      </script>
    </article>
    <article class="pt-header" id="BOX">
      <div class="tab-content" id="boxes-content">
        {% for warehouse in warehouses %}
          <div class="tab-pane fade  {% if warehouse.id == warehouse_id %} show active{% endif %}" id="pills-{{ warehouse.id }}" role="tabpanel" aria-labelledby="pills-{{ warehouse.id }}-tab">
            <h1 class="text-center mb-4 fw-bold">{{ warehouse.name }}, {{ warehouse.address }}</h1>
            <div class="row d-flex flex-column mb-5">
              <div class="col-12 col-sm-6 col-lg-4 d-flex justify-content-between align-self-center">
                <a type="button" class="SelfStorage_orange" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" title="Контакты" data-bs-content="{{ warehouse.contact }}">Контакты</a>
                <a type="button" class="SelfStorage_orange" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" title="Описание" data-bs-content="{{ warehouse.description }}">Описание</a>
                <a type="button" class="SelfStorage_orange" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" title="Проезд" data-bs-content="Описание проезда">Проезд</a>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-lg-6">
                <div id="carouselExampleControls1" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <div class="d-flex flex-column align-items-center">
                        <img src="{{ warehouse.image.url }}" alt="" style="max-width: 300px; max-height: 300px;" />
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="d-flex flex-column align-items-center">
                        <img src="{{ warehouse.image.url }}" alt="" style="max-width: 300px; max-height: 300px;" />
                      </div>
                    </div>
                  </div>
                  <div class="w-100 d-flex justify-content-center my-3">
                    <button data-bs-target="#carouselExampleControls1" data-bs-slide="prev" class="btn rounded-pill d-flex justify-content-center align-items-center SelfStorage__bg_green" style="width: 66px; height: 66px;">
                      <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="#fff" class="bi bi-chevron-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                      </svg>
                    </button>
                    <div style="width: 1rem"></div>
                    <button data-bs-target="#carouselExampleControls1" data-bs-slide="next" class="btn rounded-pill d-flex justify-content-center align-items-center SelfStorage__bg_green" style="width: 66px; height: 66px;">
                      <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="#fff" class="bi bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-6">
                <div class="row">
                  <p class="text-center text-lg-start SelfStorage_grey">Доступ по QR</p>
                  <div class="col-6 d-flex flex-column align-items-center align-items-lg-start">
                    <span class="fs_30 fw-bold SelfStorage_orange">{{ warehouse.temperature }} °С</span>
                    <span class="SelfStorage_grey mb-3">Температура на складе</span>
                    <span class="fs_30 fw-bold SelfStorage_orange">{{ warehouse.empty_cells }} из {{ warehouse.total_cells }}</span>
                    <span class="SelfStorage_grey mb-3">Боксов свободно</span>
                  </div>
                  <div class="col-6 d-flex flex-column align-items-center align-items-lg-start">
                    <span class="fs_30 fw-bold SelfStorage_orange">до {{ warehouse.max_height }} м</span>
                    <span class="SelfStorage_grey mb-3">Высота потолка</span>
                    <span class="fs_30 fw-bold SelfStorage_orange">от {{ warehouse.min_price }} ₽ за м кв</span>
                    <span class="SelfStorage_grey mb-3">Оплата за месяц</span>
                  </div>
                  <div class="d-flex flex-column align-items-center align-items-lg-start">
                    <a href="#pills-tab" role="button" class="btn w-75 fs_24 px-5 py-3 text-white border-8 SelfStorage__bg_green SelfStorage__btn2_green mb-3">Арендовать бокс</a>
                    <button class="btn w-75 fs_24 px-5 py-3 text-white border-8 SelfStorage__bg_orange SelfStorage__btn2_orange">Позвонить мне</button>
                  </div>
                  <a href="#" class="text-center text-lg-start mt-4 SelfStorage_orange">Нужна помощь?</a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="cells">
      {% include "cells.html"%}
      </div>
    </article>
  </main>
{% endblock %}
{% block extra_scripts %}
  <script>
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
      return new bootstrap.Popover(popoverTriggerEl)
    })
  </script>
  <script>
    $(document).on('click', '.ajax_cells', function (e) {
      warehouse_id = $(this).attr('cell-id');
      $.ajax({
        url: '{% url "ajax_cells" %}',
        data: {
          warehouse_id: warehouse_id
        },
        success: function (data) {
				$('.cells').html(data.template)
			}
      })
    })
  </script>
{% endblock %}
